@model List<IGrouping<string,Customer>> //gelen veri strıng olacak ve customer tablosu ile beraber çalışacak
@* C#'ta IGrouping<TKey, TElement> arabirimi (interface), LINQ sorgularında GroupBy metodunu kullandığında dönen veriyi temsil eden, oldukça kritik bir yapıdır. *@
@{
    ViewData["Title"] = "CustomerrListByCity";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h2>Şehre gore müşteri listesi.</h2>
@foreach(var group in Model)
{
    <h4>@group.Key</h4> <!--Backend tarafında belirtilen gruplama alanı -bizde CustomerCity- -->
    <ul>
        @foreach(var customer in group)
        {
            <li>@customer.CustomerName @customer.CustomerSurName</li> <!--CustomerName, Customer tablosundaki müşteri adını temsil eder. -->
        }
    </ul>
}
